@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div>
        <h1>Coders' Grill</h1>
    </div>
    <br>
    <div>
        <nav>
            <li><a href="#">Our Menu</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Locations</a></li>
            <li><a href="#">Help & FAQs</a></li>
        </nav>
    </div>
    <br>
    <div>
        <form action="#">
            <input type="text" name="search-bar" id="search" placeholder="My Order...">
            <button><img src="~/images/0-header/search.svg" alt="Click here to search"></button>
        </form>
    </div>
</header>
<br>
<main>
    <div class="image-slider">
        <div><img class="custom-img" style="width: 100px !important;" src="~/images/1-sliding-images/large-view.jpg" alt="Our Restaurant"></div>
        <br>
        <div><img class="custom-img" style="width: 100px !important;" src="~/images/1-sliding-images/small-view.jpg" alt="Our Restaurant"></div>
        <br>
        <div><img class="custom-img" style="width: 100px !important;" src="~/images/1-sliding-images/kitchen.jpg" alt="Our Master Chef in the kitchen"></div>
    </div>
    <br>
    <div class="chefs-recommendations">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6 large-3">
                    <h2>Chef's Recommendations</h2>
                    <h3>Sunday Roast</h3>
                    <img class="custom-img" style="width: 100px !important;" src="~/images/2-meal-images/chicken.jpg" alt="Our Sunday Roast">
                    <p>Enjoy our traditional Sunday roast featuring succulent, slow-cooked beef, Yorkshire pudding, roasted potatoes, and seasonal vegetables, all served with a rich gravy.</p>
                    <a class="button" href="#">Take a look...</a>
                </div>
                <br>
                <div class="cell small-12 medium-6 large-3">
                    <h3>Lamb Specialty</h3>
                    <img class="custom-img" style="width: 100px !important;" src="~/images/2-meal-images/steak.jpg" alt="Our Steak Selections">
                    <p>Savor our tender, herb-crusted lamb chops, perfectly seared and paired with a rosemary demi-glace, served alongside garlic mashed potatoes and roasted root vegetables.</p>
                    <a class="button" href="#">Take a look...</a>
                </div>
                <br>
                <div class="cell small-12 medium-6 large-3">
                    <h3>Duck Delicacy</h3>
                    <img class="custom-img" style="width: 100px !important;" src="~/images/2-meal-images/duck.jpg" alt="Our Duck Delicacy">
                    <p>Delight in our pan-seared duck breast, drizzled with an orange-ginger glaze and accompanied by wild rice pilaf and sautéed baby greens.</p>
                    <a class="button" href="#">Take a look...</a>
                </div>
                <br>
                <div class="cell small-12 medium-6 large-3">
                    <h3>Vegan Feast</h3>
                    <img class="custom-img" style="width: 100px !important;" src="~/images/2-meal-images/vegan.jpg" alt="Our Vegan Feast">
                    <p>Experience our Vegan Feast: a vibrant medley of grilled portobello mushrooms, quinoa-stuffed bell peppers, and roasted vegetables, drizzled with a balsamic glaze and served with a side of tangy avocado salad.</p>
                    <a class="button" href="#">Take a look...</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="special-offers">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <h2>Special Offers</h2>
                <br>
                <a href="#"><div class="cell small-12 medium-6 large-6">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/3-special-offers/burgers.jpg" alt="Burger Bonanza">
                    <p>Burger Bonanza - 40% OFF during lunchtime hours!</p>
                </div></a>
                <br>
                <a href="#"><div class="cell small-12 medium-6 large-6">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/3-special-offers/bbq.jpg" alt="BBQ Chow Down">
                    <p>BBQ Chow Down - 30% OFF on weekends!</p>
                </div></a>
                <br>
                <a href="#"><div class="cell small-12 medium-6 large-6">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/3-special-offers/platter.jpg" alt="Family Platters">
                    <p>Family Platters - 25% OFF on Sundays!</p>
                </div></a>
                <br>
                <a class="button" href="#">View All Offers</a>
            </div>
        </div>
    </div>
    <br>
    <div class="meal-categories">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/starters.jpg" alt="Starters">
                    <h4>Starters</h4>
                </div>
                <br>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/main.jpg" alt="Mains">
                    <h4>Mains</h4>
                </div>
                <br>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/desserts.jpg" alt="Desserts">
                    <h4>Desserts</h4>
                </div>
                <br>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/vegetarian.jpg" alt="Vegan/Vegetarian">
                    <h4>Vegan/Vegetarian</h4>
                </div>
                <br>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/sides.jpg" alt="Sides">
                    <h4>Sides</h4>
                </div>
                <br>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/kids-menu.jpg" alt="Kids' Menu">
                    <h4>Kids' Menu</h4>
                </div>
                <br>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/beverages.jpg" alt="Drinks & Beverages">
                    <h4>Drinks & Beverages</h4>
                </div>
            </div>
        </div>
    </div>
</main>
<br>
<footer>
    <div>
        <p><strong>Coders' Grill</strong> 4-5 New St, City Centre, Birmingham, B2 4RF</p>
    </div>
    <br>
    <div>
        <nav>
            <li><a href="#">Site map</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Site By Verto</a></li>
        </nav>
    </div>
    <br>
    <div>
        <p>call <strong>01234 567890</strong></p>
        <p>email us customer.support@codersgrill.co.uk</p>
    </div>
    <br>
    <div>
        <a href="#"><img class="custom-img" style="width: 20px !important;" src="~/images/5-icons/facebook.svg" alt="Our Facebook"></a>
        <a href="#"><img class="custom-img" style="width: 20px !important;" src="~/images/5-icons/instagram.svg" alt="Our Instagram"></a>
        <a href="#"><img class="custom-img" style="width: 20px !important;" src="~/images/5-icons/twitter.svg" alt="Our Twitter"></a>
    </div>
</footer>