*, *::before, *::after {
    box-sizing: border-box;
}

.custom-page {
    background-color: antiquewhite;
}

.custom-header-footer {
    background-color: darkolivegreen;
}

/* HEADER - SECTION 1: */

.custom-nav-link {
    font-size: 2vh;
}

.custom-nav-link a {
    color: darkgrey;
}

.custom-search-form {
    height: 40px;
}

.custom-search-button {
    height: 100%;
    width: 40px;
    position: relative;
    left: -15%;
}

.custom-search-button img {
    height: 80%;
    width: 80%;
}

.custom-search-button:hover {
    cursor: pointer;
}

/* MAIN - SECTION 2: */

.custom-chef-rec-cell {
    
}

.custom-chef-rec-img {
    height: 30vh;
}

.custom-chef-rec-img img {
    object-fit: cover;
}

.custom-chef-rec-desc {
    font-size: 2.2vh
}

.custom-chef-rec-button {
    vertical-align: bottom;
}

/* MAIN - SECTION 3: */

.custom-special-offers {
    background-color: rgb(200, 200, 200);
}

.custom-special-cells {
    margin-left: 4vw;
    margin-right: 4vw;
}

.custom-special-cell {
    background-color: white;
    height: 50vh;
}

.custom-special-img {
    overflow: hidden;
}

.custom-special-img img {
    object-fit: cover;
}

/* MAIN - SECTION 4: */

.custom-menu-cat {
    height: 70vh;
}

/* FOOTER - SECTION 5: */
.custom-icon {
    width: 1.5vw;
    height: auto;
    min-width: 15px;
}

.custom-footer-font-l {
    font-size: 1.25rem;
}

.custom-footer-font-s {
    font-size: 0.9rem;
}

.custom-footer-navbar {
    font-size: 0.8rem;
    width: 83vw;
}

.custom-footer-navbar a {
    color: darkgrey;
}