*, *::before, *::after {
    box-sizing: border-box;
}

.custom-page {
    background-color: antiquewhite;
}

.custom-banner-footer {
    background-color: darkolivegreen;
}

/* HEADER - SECTION 1: */
.custom-admin-link a {
    margin-right: 4vw;
    font-family: sans-serif;
    font-size: 100%;
    color: darkblue;
}

.custom-nav-link {
    font-size: 2vh;
}

.custom-nav-link a {
    color: darkgrey;
}

.custom-search-form {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 40px;
}

.custom-search-input {
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.custom-search-button {
    width: 32px !important;
    height: 80%;
    margin: 4px 0;
}

.custom-search-button img {
    height: 100%;
    width: 100%;
}

.custom-search-button:hover {
    cursor: pointer;
}

/* MAIN - SECTION 2: */
.custom-chef-rec-cell {
    max-height: 150vw;
}

.custom-chef-rec-header {
    height: 4vh;
}

.custom-chef-rec-img {
    overflow: hidden;
    padding-bottom: 1vw;
}

.custom-chef-rec-img img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.custom-chef-rec-desc {
    font-size: 2.2vh;
    overflow: hidden;
}

.custom-chef-rec-button {
    vertical-align: bottom;
}

/* MAIN - SECTION 3: */
.custom-special-offers {
    background-color: rgb(200, 200, 200);
    width: 75vw;
}

.custom-special-cells {
    margin: 0 8vw 0 8vw;
}

.custom-special-cell {
    background-color: white;
    width: 60vw;
    max-width: 600px;
    aspect-ratio: 1/1;
}

.custom-special-img {
    overflow: hidden;
    width: 100%;
}

.custom-special-img img {
    object-fit: cover;
}

.custom-special-desc {
    width: 100%;
    font-size: 1.8vh;
}

.custom-special-desc p {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* MAIN - SECTION 4: */
.custom-menu-cat {
    width: 100%;
    height: 44vw;
}

.custom-menu-cat-header {
    width: 100%;
    height: 4vw;
}

.custom-menu-cat-header h2 {
    font-size: 3vh !important;
}

.custom-menu-cat-cell {
    width: 100%;
    height: 40vw;
}

.custom-menu-cat-name {
    width: 100%;
    height: 20vw;
    margin-top: 2vw;
}

.custom-menu-cat-name h3 {
    height: 100%;
    font-size: 2.4vh !important;
    flex-wrap: wrap;
}

/* FOOTER - SECTION 5: */
.custom-icon {
    width: 1.5vw;
    height: auto;
    min-width: 15px;
}

.custom-footer-font-l {
    font-size: 2.8vh;
}

.custom-footer-font-s {
    font-size: 2.1vh;
}

.custom-footer-navbar {
    font-size: 1.8vh;
    width: 83vw;
}

.custom-footer-navbar a {
    color: darkgrey;
}