/* .custom-img {
  width: 100px;
  height: auto;
} */

/* img {
    width: 50px !important;
    height: auto !important;
  }

.image-slider img {
  width: 50px;
  height: auto;
}

.chefs-recommendations img {
  width: 50px;
  height: auto;
}

.special-offers img {
  width: 50px;
  height: auto;
}

.meal-categories img {
  width: 50px;
  height: auto;
} */
