.image-slider {
    width: 100%;
    height: 200px;
}

/*.slider-1-img {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.slider-1-img img {
    width: 100%;
    height: 200px;
    /* display: block; */
}
